
body{
    margin: 0;
    padding: 0;
}

.cursor-pointer{
    cursor:pointer;
}

.main{
    max-width: 960px;
}


#sideMenu{
    background-color: red;
    position: absolute;
    right:0;
}

.hidden{
    display: none !important;
}

.task-title{
    flex-grow: 1;           
    text-overflow: ellipsis; 
    white-space: pre-wrap;   
}



/* notifications */
.notifications-box{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.toast-box{
    background-color: #EAEAEA;
    padding: 5px 10px;
    border-radius: 5px;
}
.close-toast{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin:0;
    cursor: pointer;
    height: 15px;
    width: 15px;
}
