{% extends "base.html" %}

{% block page_id %}groups{% endblock page_id %}
{% block content %}
    <div>
        <div class="d-flex justify-content-between m-3">
            <form id="groupSearchForm" class="d-flex flex-row">
                <div>
                    <input type='search' placeholder="Поиск группы" name="q" class="form-control">
                </div>
                <button type='submit' class="btn btn-primary ms-1">
                    Поиск
                </button>
            </form>
            <a href="/groups/create">
                Создать группу
            </a>
        </div>
        <ul class="groups-list" id="groupListBox">
            
        </ul>
    </div>
{% endblock content %}