{% extends "base.html" %}

{% block page_id %}group{% endblock page_id %}
{% block content %}
    <div class="group-layout">
        <div class="left-col">
            <button class="leftSideBurger">
                <i class="bi bi-list"></i>
            </button>
            <ul id="groupsBox">
                
            </ul>
        </div>
        <div id="">
            
        </div>
        <div>
            selected task
        </div>
    </div>
<main class="group-layout">

</main>
{% endblock content %}